.menu {
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1rem;
  }
  
  .menu-item {
    border: none; /* remove the border */
    margin-right: 20px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    text-decoration: none; /* remove the underline */
  }
  
  .menu-item:hover {
    background-color: #1890ff;
    border: 2px solid #1890ff;
  }
  
  .menu-submenu {
    border: none;
    margin-right: 20px;
  }
  
  .menu-submenu:hover {
    background-color: transparent;
  }
.text{
    font-size: larger;
}  